---
import Layout from "../layouts/Layout.astro";

const title = "About";
---

<Layout title={title}>
	<div class="container">
		<h3><center>Rene Baribal</center></h3>
		<p><center><em>Web Developer</em></center></p>
	</div>
</Layout>
