---
import Layout from "../layouts/Layout.astro";
import WorkExperience from "../components/about/WorkExperience.astro";
import Education from "../components/about/Education.astro";
import { getCollection } from "astro:content";

const allWorkExperiences = await getCollection("workExperience");

const title = "About";
---

<Layout title={title}>
	<div class="container">
		<h3><center>Rene Baribal</center></h3>
		<p><center><em>Web Developer</em></center></p>

		<p id="about-intro" class="text-center">
			Full-Stack Developer experienced in providing highly functional web-based
			application and web solutions. Skilled in designing, developing, and
			testing web-application which caters the needs of the users.
		</p>

		<center><em><strong>WORK EXPERIENCE</strong></em></center>

		{allWorkExperiences.map((work) => <WorkExperience works={work} />)}

		<center><em><strong>EDUCATION</strong></em></center>

		<Education />
	</div>
</Layout>

<style lang="scss">
	#about-intro {
		margin-bottom: 24px;
	}

	.text-center {
		text-align: center;
	}
</style>
