---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/index/Hero.astro";

const title = "Home";
---

<Layout title={title}>
	<section id="hero">
		<div class="container">
			<div class="grid">
				<Hero />
				<div></div>
			</div>
		</div>
	</section>
	<section id="about">
		<div class="container grid">
			<div class="col-9">
				<p>Summary</p>
			</div>
		</div>
	</section>
	<section id="projects">
		<div class="container grid">
			<div class="col-9">Projects</div>
		</div>
	</section>
</Layout>

<style lang="scss">
	#hero {
		min-height: calc(100vh - var(--headerHeight));
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#about {
		background-color: var(--tertiary);
	}
</style>
