---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/index/Hero.astro";
import About from "../components/index/About.astro";

const title = "Home";
---

<Layout title={title}>
	<section id="hero">
		<div class="container">
			<Hero />
		</div>
	</section>
	<section id="about">
		<div class="container">
			<About />
		</div>
	</section>
	<section id="projects">
		<div class="container grid">
			<div class="col-9">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil vitae
					eos soluta quaerat repudiandae in quos deserunt labore libero,
					accusantium atque modi excepturi aut, dolore delectus! Ab ducimus iure
					in!
				</p>
			</div>
		</div>
	</section>
</Layout>

<style lang="scss">
	#hero {
		height: fit-content;
	}
</style>
