---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/index/Hero.astro";
import Projects from "../components/index/Projects.astro";

const title = "Home";
---

<Layout title={title}>
	<section id="hero">
		<div class="container">
			<Hero />
		</div>
	</section>
	<section id="projects">
		<div class="container">
			<Projects />
		</div>
	</section>
</Layout>

<style lang="scss">
	#hero {
		height: fit-content;
	}
</style>
