---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";

const allProjects = await getCollection("projects");
const title = "Projects";
---

<Layout title={title}>
	<div class="container">
		<h1>{title}</h1>

		{allProjects.map((project) => <Project projects={project} />)}
	</div>
</Layout>
