---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";

const allProjects = await getCollection("projects");

allProjects.sort(
    (a, b) =>
        new Date(b.data.publishDate).getTime() -
        new Date(a.data.publishDate).getTime()
);
const title = "Projects";
---

<Layout title={title}>
    <h2 class="text-4xl font-bold mb-4">Projects</h2>
    <div class="flex flex-col gap-4">
        {allProjects.map((project) => <Project projects={project} />)}
    </div>
</Layout>
