---
const pathName = new URL(Astro.request.url).pathname;
const currentPath = pathName.slice(1);

const active = "navUnderline";
---

<nav>
	<a class={currentPath === "" ? "active" : ""} href="/">
		<span>Home</span>
		{
			currentPath === "" ? (
				<div class="underline" transition:name={active} />
			) : (
				""
			)
		}
	</a>
	<a class={currentPath.includes("about") ? "active" : ""} href="/about">
		<span>About</span>
		{
			currentPath.includes("about") ? (
				<div class="underline" transition:name={active} />
			) : (
				""
			)
		}
	</a>
	<a class={currentPath.includes("projects") ? "active" : ""} href="/projects">
		<span>Projects</span>
		{
			currentPath.includes("projects") ? (
				<div class="underline" transition:name={active} />
			) : (
				""
			)
		}
	</a>
</nav>

<style lang="scss">
	nav {
		display: flex;
		gap: 16px;

		a {
			display: block;
			color: var(--dark);

			padding: 8px 0;
			text-decoration: none;
			font-weight: bold;

			// &.active {
			// 	// color: var(--primary);
			// 	border-bottom: 3.5px solid var(--dark);
			// }

			.underline {
				width: 100%;
				height: 3.5px;
				background-color: var(--dark);
				margin-top: 5px;
			}
		}
	}
</style>
