---
const pathName = new URL(Astro.request.url).pathname;
const currentPath = pathName.slice(1);
---

<nav>
	<a class={currentPath === "" ? "active" : ""} href="/">Home</a>
	<a class={currentPath.includes("about") ? "active" : ""} href="/about">
		About
	</a>
	<a class={currentPath.includes("projects") ? "active" : ""} href="/projects">
		Projects
	</a>
</nav>

<style lang="scss">
	nav {
		display: flex;
		gap: 16px;

		a {
			display: block;
			color: var(--dark);

			padding: 8px 0;
			text-decoration: none;
			font-weight: bold;

			&.active {
				// color: var(--primary);
				border-bottom: 3.5px solid var(--dark);
			}
		}
	}
</style>
