<div class="navbar grid container" id="navbar">
	<div class="col-9"></div>
	<div class="col-3">
		<nav>
			<a href="#">Home</a>
			<a href="#">About</a>
			<a href="#">Projects</a>
		</nav>
	</div>
</div>

<style lang="scss">
	nav {
		display: flex;
		flex-direction: column;
		position: sticky;
		top: 0;
		width: 100%;
		height: fit-content;
		z-index: 100;

		a {
			text-decoration: none;
			color: var(--secondary);
			font-weight: 600;
			text-transform: uppercase;
			padding: 8px 0;
			font-weight: 900;
		}
	}

	.navbar {
		position: fixed;
		width: 100%;
		z-index: 10;
		top: var(--headerHeight);
		right: 0;
		left: 0;
	}
</style>
