---
import { Image } from "astro:assets";
import computerImage from "../../assets/images/computer.png";

let skills = [
	{
		name: "HTML",
		logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg",
	},
	{
		name: "CSS",
		logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg",
	},
	{
		name: "JavaScript",
		logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg",
	},
	{
		name: "PHP",
		logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg",
	},
	{
		name: "MySQL",
		logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg",
	},
	{
		name: "React",
		logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original-wordmark.svg",
	},
	{
		name: "Next JS",
		logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nextjs/nextjs-original.svg",
	},
	{
		name: "Astro",
		logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg",
	},
	{
		name: "Yii",
		logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/yii/yii-original.svg",
	},
	{
		name: "Laravel",
		logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg",
	},
	// {
	// 	name: "CSS",
	// 	logo: "",
	// },
];

const skillsCount = skills.length;
const animationDuration = "30s";
---

<style lang="scss" define:vars={{ animationDuration }}>
	.col-2 {
		display: grid;
		grid-template-columns: 3fr 1fr;
		column-gap: 1rem;
	}

	@media (max-width: 600px) {
		.col-2 {
			display: block;
		}
	}

	/* Tablets (max-width: 768px) */
	@media (max-width: 768px) {
		.col-2 {
			grid-template-columns: 2fr 1fr;
			column-gap: 0.5rem;
		}
	}

	/* Small Laptops (max-width: 1024px) */
	@media (max-width: 1024px) {
		.col-2 {
			grid-template-columns: 3fr 1fr;
			column-gap: 1rem;
		}
	}

	/* Desktops and larger devices (min-width: 1025px) */
	@media (min-width: 1025px) {
		.col-2 {
			grid-template-columns: 3fr 1fr;
			column-gap: 1.5rem;
		}
	}

	#hero-content {
		display: block;
		width: 100%;
		padding: 32px 0;
	}

	.hero--title {
		font-size: var(--step-3);
		color: var(--secondary);
	}

	.hero--subtitle {
		font-style: italic;
		font-size: var(--step-0);

		#animatedWords {
			color: var(--primary);
			transition: opacity 0.5s ease-in-out;
		}

		#animatedWords.fade {
			opacity: 0;
		}
	}

	.hero--image {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hero--skills {
		margin: var(--step-6) 0;

		.hero--skills-title {
			color: var(--secondary);
			font-size: var(--step-2);
			margin-bottom: 1rem;
		}

		.hero--skills-wrapper {
			display: flex;
			gap: 4px;
			flex-wrap: wrap;

			.hero--skills-skill {
				display: flex;
				justify-content: space-between;
				align-items: center;

				gap: 8px;
				padding: 4px 8px;
				border: var(--primary) solid 1px;
				border-radius: 3px;

				.hero--skills-logo {
					height: var(--step-0);
				}
			}
		}
	}
</style>

<div id="hero-content">
	<div class="col-2">
		<div class="hero--greetings">
			<h1 class="hero--title">hi! i'm rene🍀</h1>
			<p class="hero--subtitle">full-stack developer</p>
			<p class="herro--about">
				I am a developer, based on the Philippines. I create things that live on
				the internet, whether that be websites, applications, or anything in
				between.
			</p>
		</div>
		<div class="hero--image">
			<img
				src={computerImage.src}
				alt="Computer on top of desk with plants around it"
				style={`width: clamp(100px, 400px, 75%);`}
			/>
		</div>
	</div>

	<div class="hero--skills">
		<h2 class="hero--skills-title">Skills</h2>
		<div class="hero--skills-wrapper">
			{
				skills.map((skill) => (
					<div class="hero--skills-skill">
						<img
							class="hero--skills-logo"
							src={skill.logo}
							title={skill.name + " logo"}
							loading="lazy"
						/>
						<div class="hero--skills-name">{skill.name}</div>
					</div>
				))
			}
		</div>
	</div>
</div>
