---
import { ViewTransitions } from "astro:transitions";
import "../styles/global.scss";
import Navbar from "../components/Navbar.astro";
import Logo from "../components/Logo.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<ViewTransitions />
	</head>
	<body>
		<header>
			<div class="container" id="header">
				<Logo />
				<Navbar />
			</div>
		</header>

		<div class="main-body">
			<main>
				<slot />
			</main>
		</div>
	</body><style lang="scss">
		.main-body {
			position: relative;
			width: 100%;
		}

		header {
			#header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: var(--headerHeight);
			}
		}
	</style>
</html>
