---
import "../styles/global.scss";

import Navbar from "../components/Navbar.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header id="header">
			<div id="logo">
				<div id="r"><span>r</span></div>
				<div id="e1"><span>e</span></div>
				<div id="n"><span>e</span></div>
				<div id="e2"><span>n</span></div>
			</div>
		</header>

		<div class="main-body">
			<Navbar />
			<main>
				<slot />
			</main>
		</div>
	</body>
</html>

<style lang="scss">
	.main-body {
		position: relative;
		width: 100%;
	}

	header {
		display: flex;
		justify-content: center;
		align-items: center;
		height: var(--headerHeight);

		#logo {
			display: grid;
			grid-template-columns: 1fr 1fr;
			color: var(--dark);

			div {
				font-size: var(--step-4);
				font-weight: 700;
				line-height: 0.8;
				aspect-ratio: 1;
				display: block;

				span {
					display: block;
					margin: auto;
					height: fit-content;
					width: fit-content;
				}
			}

			#e1 {
				transform: rotate(90deg);
			}

			#e2 {
				transform: rotate(calc(90deg * 2));
			}

			#n {
				transform: rotate(calc(90deg * 3));
			}
		}
	}
</style>
